table {
    margin: auto;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

td {
    border-width: 3px;
    width: 50px;
    height: 50px;
}

#g01, #g21 {
    border-style: none solid;
}

#g10, #g12 {
    border-style: solid none;
}

#g11 {
    border-style: solid;
}

#player {
    position: relative;
    margin: 20px auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

button {
    display: block;
    margin: auto;
}